<table class="grid season_grid monospaced">
    <tr>
        <th>#</th>
        <th>Team</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
        <th>Total</th>
    </tr>
    <% 20.times do |fake| %>
    <tr>
        <td><%=fake+1%></td>
        <% 5.times do |r| %>
            <td>hmmm</td>
        <% end %>
    </tr>
    <% end %>
</table>

