<h2>Our Leagues</h2>
<p>
    <%= link_to 'New League', new_league_path %>
</p>

<h3>Leagues</h3>
<% @leagues.each do |league| %>
    <h3><%= link_to league.name, league_path(league) %></h3>
<% end %>
