<h2><%= @league.name %></h2>

<h3>Seasons</h3>
<% @league.seasons.each do |s| %>
    <%= content_tag :h4, link_to(s.name, season_path(s)) %>
<% end %>

<h3>Rules</h3>
<p>
    Probably a good spot to plop the rules
</p>

