$bg-color: #43403c;

body {
    color: #ccc;
    background-image: url('dark.jpg');
    font-size: .9em;
}

h1,h2,h3,h4,h5 {
    color: #ccc;
}

a {
    color: #f0604d;
    font-weight: bold;
}

a:hover {
    color: #888;
}

select {
    font-size: 1.1em;
    padding: 2px;
}

input {
    font-size: 1.1em;
    padding: 2px;
}

hr {
    background: #777;
}

tbody tr:nth-child(even) td, tbody tr.even td {
    background: lighten($bg-color, 5);
}
